/* Need to go back and clean this up. Make names more specific. Maybe use sass? */
@import url("https://fonts.googleapis.com/css?family=Amatic+SC:700|Roboto");

:root {
  --primary: #2196f3;
  --primary-dark: #1976d2;
  --primary-text: #fff;
  --secondary: rgba(0, 0, 0, 0.38);
  --disabled: rgb(188, 188, 188);
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.steps {
  display: flex;
  min-height: 4rem;
  margin: 0 0 0.5rem 0;
}

.step {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem 0.5rem 0 0;
  transition: 0.5s;
  border-radius: 4px;
  user-select: none;
}

.step .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.3rem;
  height: 0.3rem;
  background-color: var(--secondary);
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.3rem;
  height: 0.3rem;
  background-color: var(--secondary);
  margin-right: 0.5rem;
}
/* buttons  */

.yell_btn {
  border-radius: 8px;
  border: 1px solid var(--Primary, #ff8a00);
  background: #e5ecf6;
  background: var(--Primary, linear-gradient(83deg, #ff8a00 0%, #ffc000 100%));
  padding: 10px 24px;
  cursor: pointer;
  border: 1px solid var(--Primary, #ff8a00);
  background: #e5ecf6;
  background: var(--Primary, linear-gradient(83deg, #ff8a00 0%, #ffc000 100%));
  padding: 10px 24px;
  cursor: pointer;
}

.skip_btn {
  border-radius: 8px;
  background: unset;
  padding: 10px 0px;
  border: none;
  cursor: pointer;
}

.back_btn {
  border-radius: 8px;
  background: #e5ecf6;
  padding: 10px 24px;
  cursor: pointer;
  border: 1px solid #d0d5dd;
  border: 1px solid #d0d5dd;
}

.gap-10 {
  display: flex;
  gap: 10px;
}
.mt-20 {
  margin-top: 20px;
}

.px-30 {
  padding: 0 30px;
}

.ht-100vh {
  height: 100%;
}

.main_title {
  color: #1c1c1c;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-top: 50px;
}

.sub_title {
  color: var(--black-80, rgba(28, 28, 28, 0.8));
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  padding: 15px 0 5px 0;
}

.buttons {
  margin-top: 120px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

.p-10 {
  padding: 10px !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.checkBoxBorder {
  border: 1px solid rgb(189, 183, 183);
  padding: 8px 15px;
  border-radius: 8px;
  display: inline-block;
}

.checkBoxBorderBlack {
  border: 1px solid rgb(0, 0, 0);
  background-color: black;
  padding: 8px 15px;
  border-radius: 8px;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}

.mt-10 {
  margin-top: 10px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.text-center {
  text-align: center;
}
.or {
  margin: 20px 8px;
}
.or::after {
  content: "";
  height: 4px;
  width: 47.5%;
  display: inline-block;
  background-color: rgb(175, 168, 168);
}
.or::before {
  content: "";
  height: 4px;
  width: 47.5%;
  background-color: rgb(175, 168, 168);
  display: inline-block;
}
.flex-end {
  display: flex;
  justify-content: end;
}

.rightSide {
  width: 100px;
  right: 0px;
}

.cursor-pointer {
  cursor: pointer;
}

.display-row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 30px;
  width: 95%;
}
.display-row-flex-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 24px;
}
.display-row-space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.display-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.display-data {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Gap-16, 16px);
  align-self: stretch;
}

.text-decorator-none {
  text-decoration: none;
  transition: width 2s, height 4s;
  color: black;
}

html {
  scroll-behavior: smooth;
}

.outer-box {
  background-color: #dbe1ee;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.display-view-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 95%;
  margin: 0 auto;
}

.display-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

/* .details-box-main {
  height: auto;
  width: 100%;
  margin-top: 140px;
  display: flex;
} */

.details-box-main {
  height: 100%;
  width: 100%;
  margin-top: 75px;
  display: flex;
  overflow-y: auto;
}

.details-box-inner {
  height: auto;
  width: 90%;
  margin: 10px;
  gap: 24px;
}

.details-box-video {
  flex: 0 0 auto;
  order: -1;
  margin-right: 10px;
}

.details-box-accordion {
  background-color: white;
  padding: 10px;
  height: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.d-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.align-center {
  align-items: center;
}

.right-icons {
  position: fixed;
  right: 0;
  margin-top: 10px;
}
.css-xghey7-MuiModal-root-MuiDrawer-root .MuiDrawer-paper {
  right: 78px !important;
  padding: 150px 0 0 0;
  width: 20% !important;
}

.css-10c1qr2-MuiPaper-root-MuiDrawer-paper {
  margin-top: 160px !important;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  position: unset !important;
}

.css-xghey7-MuiModal-root-MuiDrawer-root {
  z-index: unset !important;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  position: unset !important;
}
.css-qwb5vk-MuiPaper-root-MuiAppBar-root {
  padding-right: 0px !important;
}
.phone-input {
  border: 1px solid #ccc;
  padding: 14px 14px;
  border-radius: 5px;
  width: 100%;
  border-radius: 15px;
}

.PhoneInputInput {
  border: 0px;
  padding: 5px;
}
